<h1 class="up">Visual Novel <i class="fa fa-times"></i></h1>
<section class="row">
	<h2>Success! You're Now Connected!</h2>

	<img src="/images/characters/ayase/ayase_sm.png">
	
	
	<ul class="social-icons">
		<li><a href="http://fb.com/visualnovelx"><i class="fa fa-facebook fa-3x"></i></a></li>
		<li><a href="http://www.twitter.com/visualnovelx"><i class="fa fa-twitter fa-3x"></i></a></li>
		<li><a href="https://plus.google.com/+VisualNovelX"><i class="fa fa-google-plus fa-3x"></i></a></li>
	</ul>
	<p>Donate with Bitcoins 1LouFXYz5mamMz8pFctrrDgARs4wftL8vB</p>

	
</section>
<script src="/js/landing.js"></script>
